# Data Analysis

Exploratory data analysis for the discount pricing problem.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
!ls

Applications Users        cores        home         sbin         var
Library      Volumes      dev          opt          tmp
System       bin          etc          private      usr

In [17]:
from pathlib import Path


def _find_repo_root(start: Path) -> Path:
    for parent in [start, *start.parents]:
        if (parent / "pyproject.toml").exists():
            return parent
    raise FileNotFoundError("Could not find repo root (pyproject.toml).")


repo_root = _find_repo_root(Path.cwd())
processed_dir = repo_root / "data" / "processed"
sequences_path = processed_dir / "training_sequences.parquet"
features_path = processed_dir / "training_features.parquet"

if not sequences_path.exists():
    sequences_path = processed_dir / "training_sequences.csv"
if not features_path.exists():
    features_path = processed_dir / "training_features.csv"

print(f"Repo root: {repo_root}")
print(f"Sequences path: {sequences_path}")
print(f"Features path: {features_path}")

Repo root: /Users/eseide/Stanford/CME-241/cme241-rl-discounts
Sequences path: /Users/eseide/Stanford/CME-241/cme241-rl-discounts/data/processed/training_sequences.parquet
Features path: /Users/eseide/Stanford/CME-241/cme241-rl-discounts/data/processed/training_features.parquet

In [20]:
def _load_table(path: Path) -> pd.DataFrame:
    if not path.exists():
        raise FileNotFoundError(
            f"Missing file: {path}. Run `make preprocess` to create it."
        )
    if path.suffix == ".parquet":
        return pd.read_parquet(path)
    return pd.read_csv(path)

sequences = _load_table(sequences_path)
features = _load_table(features_path)

print("Sequences shape:", sequences.shape)
print("Features shape:", features.shape)

sequences.head()

Sequences shape: (2595732, 19)
Features shape: (2595732, 22)

,transaction_id,household_key,basket_id,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,coupon_available,coupon_upc,campaign,coupon_used,coupon_upc_used,sequence_index
0,46996,1,27601281299,51,825123,1,3.99,436,0.00,1456,8,0.0,0.0,False,NaN,NaN,False,NaN,0
1,46997,1,27601281299,51,831447,1,2.99,436,0.00,1456,8,0.0,0.0,False,NaN,NaN,False,NaN,1
2,46998,1,27601281299,51,840361,1,1.09,436,-0.30,1456,8,0.0,0.0,False,NaN,NaN,False,NaN,2
3,46999,1,27601281299,51,845307,1,3.71,436,-0.62,1456,8,0.0,0.0,False,NaN,NaN,False,NaN,3
4,47000,1,27601281299,51,852014,1,2.79,436,-1.20,1456,8,0.0,0.0,False,NaN,NaN,False,NaN,4

In [ ]:
features.head()